apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana-logging
  namespace: xebialabs
  labels:
    app: kibana-logging
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana-logging
  template:
    metadata:
      labels:
        app: kibana-logging
    spec:
      initContainers:
      - name: wait-for-elasticsearch
        image: busybox:1
        command:
        - 'sh'
        - '-c'
        - >
          until [ "$(wget -O /dev/null -q --spider -T2 http://elasticsearch-logging.xebialabs.svc:9200; echo $?)" == "0" ]; do
            echo "ElasticSearch is not ready yet";
            sleep 2;
          done
      containers:
      - name: kibana-logging
        image: docker.elastic.co/kibana/kibana-oss:6.5.0
        resources:
          limits:
            cpu: 1
            memory: 2Gi
          requests:
            cpu: 0.3
            memory: 1Gi
        env:
          - name: ELASTICSEARCH_URL
            value: http://elasticsearch-logging.xebialabs.svc:9200
          - name: SERVER_BASEPATH
            value: /kibana
          - name: KIBANA_DEFAULTAPPID
            value: dashboard/xl-platform-logs-dashboard
        ports:
        - containerPort: 5601
          name: ui
          protocol: TCP
---
apiVersion: v1
kind: Secret
metadata:
  name: kibana-secret
data:
  auth: {{ cat .monitoringUser "::" .monitoringUserPass | b64enc }}
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: kibana
  namespace: xebialabs
  labels:
    app: kibana
  annotations:
    kubernetes.io/ingress.class: haproxy
    ingress.kubernetes.io/rewrite-target: /
    ingress.kubernetes.io/ssl-redirect: "false"
    ingress.kubernetes.io/auth-type: "basic"
    ingress.kubernetes.io/auth-realm: "Kibana Authentication"
    ingress.kubernetes.io/auth-secret: "kibana-secret"
spec:
  rules:
    - http:
        paths:
          - path: /kibana/
            backend:
              serviceName: kibana-logging
              servicePort: 5601
---
apiVersion: v1
kind: Service
metadata:
  name: kibana-logging
  namespace: xebialabs
  labels:
    app: kibana-logging
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
    kubernetes.io/name: "kibana"
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 5601
      targetPort: 5601
      protocol: TCP
  selector:
    app: kibana-logging
---
apiVersion: batch/v1
kind: Job
metadata:
  name: kibana-dashboards
  namespace: xebialabs
  labels:
    app: kibana-dashboards
spec:
  template:
    spec:
      restartPolicy: OnFailure
      initContainers:
      - name: wait-for-elasticsearch
        image: busybox:1
        command:
        - 'sh'
        - '-c'
        - >
          until [ "$(wget -O /dev/null -q --spider -T2 http://elasticsearch-logging.xebialabs.svc:9200; echo $?)" == "0" ] ; do
          echo "ElasticSearch is not ready yet";
          sleep 2;
          done
      containers:
      - name: dashboards
        image: "xebialabsunsupported/xl-kibana:1.0.0"
        imagePullPolicy: Always
        env:
          - name: ELASTICSEARCH_URL
            value: "http://elasticsearch-logging.xebialabs.svc:9200"
          - name: KIBANA_URL
            value: "http://kibana-logging.xebialabs.svc:5601"
      imagePullSecrets:
        - name: xebialabs-pull-secret