K8sSetup: {{.K8sSetup}}
useKubeconfig: {{.useKubeconfig}}
apiServerURL: {{.apiServerURL}}
OsType: {{ .OsType }}
localApiServerURL: {{ .localApiServerURL }}
{{if eq .K8sClientCert ""}}
K8sClientCertFile: {{ .CertFile }}
K8sClientCert: {{ .K8sClientCertFile | b64enc }}
{{ end }}
{{if eq .K8sClientCertKey ""}}
K8sClientCertKeyFile: {{ .KeyFile }}
K8sClientCertKey: {{ .K8sClientCertKeyFile | b64enc }}
{{ end }}
{{if eq .K8sClientCertFile ""}}
K8sClientCert: {{ .K8sClientCert | b64enc }}
{{ end }}
{{if eq .K8sClientCertKeyFile ""}}
K8sClientCertKey: {{ .K8sClientCertKey | b64enc }}
{{ end }}
IsEKS: {{eq .K8sSetup "AWS EKS"}}
eksClusterName: {{ .eksClusterName }}
isAwsCfgAvailable: {{ .isAwsCfgAvailable }}
useAWSconfig: {{ .useAWSconfig }}
AWSAccessKey: {{ .AWSAccessKey }}
AWSAccessSecret: {{ .AWSAccessSecret }}
