apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: prometheus
  namespace: {{ .Namespace }}
  labels:
    app: prometheus
    purpose: metrics-collector
spec:
  serviceName: "prometheus"
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
      purpose: metrics-collector
  template:
    metadata:
      labels:
        app: prometheus
        purpose: metrics-collector
    spec:
      serviceAccountName: prometheus
      initContainers:
        - name: "init-chown-data"
          image: "busybox:latest"
          command: ["chown", "-R", "65534:65534", "/data"]
          volumeMounts:
            - name: data
              mountPath: /data
              subPath: ""
      containers:
      - name: prometheus
        image: prom/prometheus:v2.7.2
        args:
          - --config.file=/etc/prometheus/prometheus.yml
          - --storage.tsdb.path=/data
          - --web.console.libraries=/etc/prometheus/console_libraries
          - --web.console.templates=/etc/prometheus/consoles
          - --web.enable-lifecycle
          - --storage.tsdb.retention.time={{.MonitoringDataRetention}}d
        ports:
          - containerPort: 9090
        volumeMounts:
          - name: config-volume
            mountPath: /etc/prometheus/prometheus.yml
            subPath: prometheus.yml
          - name: data
            mountPath: /data
            subPath: ""
      volumes:
        - name: config-volume
          configMap:
           name: prometheus-config
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        {{if eq .K8sSetup "AWS EKS" }}
        storageClassName: gp2-retain
        {{else if eq .K8sSetup "Google Kubernetes Engine"}}
        storageClassName: standard-retain
        {{else if eq .K8sSetup "Plain multinode K8s cluster" }}
        storageClassName: managed-nfs-storage
        {{end}}
        resources:
          requests:
            storage: 10Gi
---
kind: Service
apiVersion: v1
metadata:
  name: prometheus-ui
  namespace: {{ .Namespace }}
  labels:
    app: prometheus
spec:
  selector:
    app: prometheus
    purpose: metrics-collector
  ports:
  - name: promui
    protocol: TCP
    port: 9090
    targetPort: 9090
