apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: xebialabs-prometheus
  labels:
    organization: xebialabs
rules:
- apiGroups: [""]
  resources:
  - nodes
  - services
  - endpoints
  - pods
  - nodes/proxy
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources:
  - configmaps
  verbs: ["get"]
- nonResourceURLs: ["/metrics"]
  verbs: ["get"]
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus
  namespace: {{ .Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: xebialabs-prometheus
  labels:
    organization: xebialabs
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: xebialabs-prometheus
subjects:
- kind: ServiceAccount
  name: prometheus
  namespace: {{ .Namespace }}