kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: xld-work-claim
  namespace: {{ .Namespace }}
  labels:
    app: xl-deploy
    component: worker
  annotations:
    {{if eq .K8sSetup "AwsEKS" }}
    volume.beta.kubernetes.io/storage-class: "aws-efs"
    {{else}}
    volume.beta.kubernetes.io/storage-class: "managed-nfs-storage"
    {{end}}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ .XldWorkPvcSize }}