kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: xld-claim
  namespace: {{ .Namespace }}
  labels:
    app: xl-deploy
  annotations:
    {{if eq .K8sSetup "Plain multinode K8s cluster" }}
    volume.beta.kubernetes.io/storage-class: "managed-nfs-storage"
    {{else}}
    volume.beta.kubernetes.io/storage-class: "aws-efs"
    {{end}}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi