apiVersion: batch/v1
kind: Job
metadata:
  name: kibana-dashboards
  namespace: {{ .Namespace }}
  labels:
    app: kibana-dashboards
    organization: xebialabs
spec:
  template:
    metadata:
      name: kibana-dashboards
      labels:
        app: kibana-dashboards
        organization: xebialabs
    spec:
      restartPolicy: OnFailure
      initContainers:
      - name: wait-for-elasticsearch
        image: busybox:1
        command:
        - 'sh'
        - '-c'
        - >
          until [ "$(wget -O /dev/null -q --spider -T2 http://elasticsearch-logging.{{- .Namespace }}.svc:9200; echo $?)" == "0" ] ; do
          echo "ElasticSearch is not ready yet";
          sleep 2;
          done
      - name: wait-for-kibana
        image: busybox:1
        command:
        - 'sh'
        - '-c'
        - >
          until [ "$(wget -O /dev/null -q --spider -T2 http://kibana-logging.{{- .Namespace }}.svc:5601/status; echo $?)" == "0" ] ; do
          echo "Kibana is not ready yet";
          sleep 2;
          done
      containers:
      - name: kibana-dashboards
        labels:
          organization: xebialabs
        image: xebialabs/kibana-dashboard:1.0.0
        imagePullPolicy: Always
        env:
          - name: ELASTICSEARCH_URL
            value: "http://elasticsearch-logging.{{- .Namespace }}.svc:9200"
          - name: KIBANA_URL
            value: "http://kibana-logging.{{- .Namespace }}.svc:5601"
      {{- if .IsHybridCluster}}
      nodeSelector:
        {{- if eq .K8sSetup "AwsEKS"}}
        beta.kubernetes.io/os: linux
        beta.kubernetes.io/arch: amd64
        {{- else if eq .K8sSetup "GoogleGKE"}}
        kubernetes.io/os: linux
        kubernetes.io/arch: amd64
        {{- else if eq .K8sSetup "AzureAKS"}}
        kubernetes.io/os: linux
        kubernetes.io/arch: amd64
        {{- end}}
      {{- end}}
      imagePullSecrets:
        - name: xebialabs-pull-secret