apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana-logging
  namespace: {{ .Namespace }}
  labels:
    app: kibana-logging
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana-logging
  template:
    metadata:
      labels:
        app: kibana-logging
    spec:
      initContainers:
      - name: wait-for-elasticsearch
        image: jgoclawski/wget:1.0
        command:
        - 'sh'
        - '-c'
        - >
          until [ "$(wget {{ if .ElasticsearchHasAuthentication }}--user {{ .ElasticsearchUsername }} --password {{ .ElasticsearchPassword }}{{ end }} -O /dev/null -q --spider -T2 {{ if .UseExternalElasticsearch }}{{ .ElasticsearchUrlScheme }}{{ .ElasticsearchUrl }}:9200{{ else }}http://elasticsearch-logging.{{- .Namespace }}.svc:9200{{ end }}; echo $?)" == "0" ]; do
            echo "ElasticSearch is not ready yet";
            sleep 2;
          done
      containers:
      - name: kibana-logging
        image: docker.elastic.co/kibana/kibana-oss:6.5.0
        resources:
          limits:
            cpu: 1
            memory: 2Gi
          requests:
            cpu: 0.3
            memory: 1Gi
        env:
          - name: ELASTICSEARCH_URL
            value: "{{ if .UseExternalElasticsearch }}{{ .ElasticsearchUrlScheme }}{{ .ElasticsearchUrl }}:9200{{ else }}http://elasticsearch-logging.{{- .Namespace }}.svc:9200{{ end }}"
          {{- if .ElasticsearchUsername }}
          - name: ELASTICSEARCH_USERNAME
            value: "{{ .ElasticsearchUsername }}"
          - name: ELASTICSEARCH_PASSWORD
            value: "{{ .ElasticsearchPassword }}"
          {{- end }}
          - name: SERVER_BASEPATH
            value: /kibana
          - name: KIBANA_DEFAULTAPPID
            value: dashboard/xl-platform-logs-dashboard
        ports:
        - containerPort: 5601
          name: ui
          protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: kibana-logging
  namespace: {{ .Namespace }}
  labels:
    app: kibana-logging
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
    kubernetes.io/name: "kibana"
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 5601
      targetPort: 5601
      protocol: TCP
  selector:
    app: kibana-logging