apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana-logging
  namespace: {{ .Namespace }}
  labels:
    app: kibana-logging
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana-logging
  template:
    metadata:
      labels:
        app: kibana-logging
    spec:
      initContainers:
      - name: wait-for-elasticsearch
        image: busybox:1
        command:
        - 'sh'
        - '-c'
        - >
          until [ "$(wget -O /dev/null -q --spider -T2 http://elasticsearch-logging.{{- .Namespace }}.svc:9200; echo $?)" == "0" ]; do
            echo "ElasticSearch is not ready yet";
            sleep 2;
          done
      containers:
      - name: kibana-logging
        image: docker.elastic.co/kibana/kibana-oss:6.5.0
        resources:
          limits:
            cpu: 1
            memory: 3Gi
          requests:
            cpu: 0.5
            memory: 2Gi
        env:
          - name: ELASTICSEARCH_URL
            value: http://elasticsearch-logging.{{- .Namespace }}.svc:9200
          - name: SERVER_BASEPATH
            value: /kibana
          - name: KIBANA_DEFAULTAPPID
            value: dashboard/xl-platform-logs-dashboard
        ports:
        - containerPort: 5601
          name: ui
          protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: kibana-logging
  namespace: {{ .Namespace }}
  labels:
    app: kibana-logging
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
    kubernetes.io/name: "kibana"
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 5601
      targetPort: 5601
      protocol: TCP
  selector:
    app: kibana-logging