apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: kibana
  namespace: {{ .Namespace }}
  labels:
    app: kibana
  annotations:
    kubernetes.io/ingress.class: haproxy
    ingress.kubernetes.io/rewrite-target: /
    ingress.kubernetes.io/ssl-redirect: "false"
    {{- if not .ElasticsearchHasAuthentication }}
    ingress.kubernetes.io/auth-type: "basic"
    ingress.kubernetes.io/auth-realm: "Kibana Authentication"
    ingress.kubernetes.io/auth-secret: "kibana-secret"
    {{- end }}
spec:
  rules:
    - http:
        paths:
          - path: /kibana/
            backend:
              serviceName: kibana-logging
              servicePort: 5601
{{- if not .ElasticsearchHasAuthentication }}
# Don't include it, because if you have ES auth, you need to sign into kibana using an ES user
---
apiVersion: v1
kind: Secret
metadata:
  name: kibana-secret
  namespace: {{ .Namespace }}
data:
  auth: {{ cat .MonitoringUser "::" .MonitoringUserPass | b64enc }}
{{- end }}