{{$POSTGRES_MAX_CONN := "{{POSTGRES_MAX_CONN}}"}}
{{$POSTGRES_SYNC_COMMIT := "{{POSTGRES_SYNC_COMMIT}}"}}
{{$POSTGRES_EFFECT_CACHE_SIZE := "{{POSTGRES_EFFECT_CACHE_SIZE}}"}}
{{$POSTGRES_SHARED_BUFF := "{{POSTGRES_SHARED_BUFF}}"}}
{{$POSTGRES_MAX_WALL_SIZE := "{{POSTGRES_MAX_WALL_SIZE}}"}}
{{$POSTGRESQL_HOSTPATH := "{{POSTGRESQL_HOSTPATH}}"}}

apiVersion: v1
kind: Service
metadata:
  name: postgresql
  namespace: {{ .Namespace }}
  labels:
    app: postgresql
    organization: xebialabs
spec:
  ports:
    - port: 5432
  selector:
    app: postgresql
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgresql
  namespace: {{ .Namespace }}
  labels:
    app: postgresql
    organization: xebialabs
spec:
  serviceName: postgresql
  replicas: 1
  selector:
    matchLabels:
      app: postgresql
  template:
    metadata:
      labels:
        app: postgresql
        organization: xebialabs
    spec:
      {{- if eq .K8sSetup "Openshift" }}
      serviceAccount: {{ .ServiceAccount }}
      {{- end }}
      initContainers:
        - name: fix-the-volume-permission
          {{if .UseCustomRegistryForAllImages }}
          image: {{.RegistryURL}}/tiny-tools
          {{else}}
          image: xebialabs/tiny-tools
          {{end}}
          imagePullPolicy: Always
          command:
            - sh
            - -c
            - chown -R 70:70 /var/lib/postgresql/data
          securityContext:
            privileged: true
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
        - name: "remove-lost-found"
          {{if .UseCustomRegistryForAllImages }}
          image: {{.RegistryURL}}/tiny-tools
          {{else}}
          image: xebialabs/tiny-tools
          {{end}}
          imagePullPolicy: "IfNotPresent"
          command:
            - 'sh'
            - '-c'
            - 'rm -rf /var/lib/postgresql/data/lost+found'
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: data

      containers:
        - name: postgresql
          {{if .UseCustomRegistryForAllImages }}
          image: {{.RegistryURL}}/postgres:10.5
          {{else}}
          image: postgres:10.5
          {{end}}
          command: ["docker-entrypoint.sh"]
          args:
            - "-c"
            - "max_connections={{$POSTGRES_MAX_CONN}}"
            - "-c"
            - "synchronous_commit={{$POSTGRES_SYNC_COMMIT}}"
            - "-c"
            - "effective_cache_size={{$POSTGRES_EFFECT_CACHE_SIZE}}"
            - "-c"
            - "shared_buffers={{$POSTGRES_SHARED_BUFF}}"
            - "-c"
            - "max_wal_size={{$POSTGRES_MAX_WALL_SIZE}}"
          resources:
            requests:
              memory: 1Gi
              cpu: "0.5"
            limits:
              memory: 2Gi
              cpu: "1"
          ports:
            - containerPort: 5432
              name: postgresql
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
      {{if .UseCustomRegistryForAllImages }}
      imagePullSecrets:
      - name: dockercred
      {{ end }}
      {{- if .IsHybridCluster}}
      nodeSelector:
        {{- if eq .K8sSetup "AwsEKS"}}
        beta.kubernetes.io/os: linux
        {{- else if eq .K8sSetup "GoogleGKE"}}
        kubernetes.io/os: linux
        {{- else if eq .K8sSetup "AzureAKS"}}
        kubernetes.io/os: linux
        {{- end}}
      {{- end}}
      volumes:
  {{- if or (eq .K8sSetup "DockerDesktopK8s") (eq .K8sSetup "MinikubeK8s")}}
      volumes:
        - name: data
          emptyDir: {}
  {{else}}
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        {{if .UseExistingStorageClasses }}
        storageClassName: {{.StorageClassName}}
        {{ else if eq .K8sSetup "AwsEKS" }}
        storageClassName: xebialabs-gp2-retain
        {{else if eq .K8sSetup "GoogleGKE" }}
        storageClassName: xebialabs-standard-retain
        {{else if eq .K8sSetup "AzureAKS" }}
        storageClassName: xebialabs-default-retain
        {{else if or (eq .K8sSetup "PlainK8SCluster") (eq .K8sSetup "Openshift")}}
        storageClassName: xebialabs-managed-nfs-storage
        {{end}}
        resources:
          requests:
            storage: {{ .PostgresqlDataPvcSize }}
  {{end}}
