kind: ConfigMap
apiVersion: v1
metadata:
  name: answers-config-map
  namespace: xebialabs
data:
  answers.yaml: |-
    K8sSetup: {{ .K8sSetup }}
    useKubeconfig: {{ .useKubeconfig }}
    apiServerURL: {{ .apiServerURL }}
    OsType: {{ .OsType }}
    localApiServerURL: {{ .localApiServerURL }}
    {{if eq .K8sClientCert ""}}
    K8sClientCertFile: {{ .CertFile }}
    K8sClientCert: {{ .K8sClientCertFile | b64enc }}
    {{ end }}
    {{if eq .K8sClientKey ""}}
    K8sClientKeyFile: {{ .KeyFile }}
    K8sClientKey: {{ .K8sClientKeyFile | b64enc }}
    {{ end }}
    {{if eq .K8sClientCertFile ""}}
    K8sClientCert: {{ .K8sClientCert | b64enc }}
    {{ end }}
    {{if eq .K8sClientKeyFile ""}}
    K8sClientKey: {{ .K8sClientKey | b64enc }}
    {{ end }}
    IsEKS: {{eq .K8sSetup "AWS EKS"}}
    eksClusterName: {{ .eksClusterName }}
    isAwsCfgAvailable: {{ .isAwsCfgAvailable }}
    useAWSconfig: {{ .useAWSconfig }}
    AWSAccessKey: {{ .AWSAccessKey }}
    AWSAccessSecret: {{ .AWSAccessSecret }}
    Namespace: {{ .Namespace }}
    InstallXLD: {{ .InstallXLD }}
    InstallXLR: {{ .InstallXLR }}
    {{ if .useCustomRegistry }}
    xlrVersion: {{ .xlrVersion }}
    xldVersion: {{ .xldVersion }}
    xlrTag: {{ .xlrTag }}
    xldTag: {{ .xldTag }}
    dockerUser: {{ .dockerUser }}
    dockerPass: {{ .dockerPass }}
    registryURL: {{ .registryURL }}
    {{ else }}
    xlVersion: {{ .xlVersion }}
    {{ end }}
    XlRAMRequest: {{ .XlRAMRequest }}
    XlCPURequest: {{ .XlCPURequest }}
    dockerRepo: {{ .dockerRepo }}
    xldAdminPass: {{ .xldAdminPass }}
    xldLic: {{ .xldLic | b64enc }}
    xldDbName: {{ .xldDbName }}
    xldDbUser: {{ .xldDbUser }}
    xldDbPass: {{ .xldDbPass }}
    efsId: {{ .efsId }}
    efsRegion: {{ .efsRegion }}
    nsfServerHost: {{ .nsfServerHost }}
    nsfSharePath: {{ .nsfSharePath }}
    xldWorkHostpath: {{ .xldWorkHostpath }}
    xlrAdminPass: {{ .xlrAdminPass }}
    xlrLic: {{ .xlrLic | b64enc }}
    xlrDbName: {{ .xlrDbName }}
    xlrDbUser: {{ .xlrDbUser }}
    xlrDbPass: {{ .xlrDbPass }}
    xlrReportDbName: {{ .xlrReportDbName }}
    xlrReportDbUser: {{ .xlrReportDbUser }}
    xlrReportDbPass: {{ .xlrReportDbPass }}
    xlKeyStore: {{ .xlKeyStore | b64enc }}
    xlKeyStorePass: {{ .xlKeyStorePass }}
    InstallMonitoring: {{ .InstallMonitoring }}
    MonitoringDataRetention: {{ .MonitoringDataRetention }}
    monitoringUser: {{ .monitoringUser }}
    monitoringUserPass: {{ .monitoringUserPass }}
    PostgresqlWorkHostpath: {{ .PostgresqlWorkHostpath }}
    postgresMaxConn: {{ .postgresMaxConn }}
    postgresSharedBuff: {{ .postgresSharedBuff }}
