kind: ConfigMap
apiVersion: v1
metadata:
  name: answers-config-map
  namespace: xebialabs
data:
  answers.yaml: |-
    K8sSetup: {{ .K8sSetup }}
    UseKubeconfig: {{ .UseKubeconfig }}
    ApiServerURL: {{ .ApiServerURL }}
    OsType: {{ .OsType }}
    {{if or (and (not .UseKubeconfig) (ne .K8sSetup "AwsEKS")) (eq .K8sSetup "GoogleGKE)")}}
    K8sAuthentication: {{ .K8sAuthentication }}
    {{end}}
    {{if eq .K8sSetup "LocalK8S"}}
    LocalApiServerURL: {{ .LocalApiServerURL }}
    {{end}}
    {{if eq .K8sToken ""}}
     {{if ne .K8sSetup "AwsEKS"}}
      {{if eq .K8sClientCert ""}}
    K8sClientCertFile: {{ .CertFile }}
    K8sClientCert: {{ .K8sClientCertFile | b64enc }}
      {{end}}
      {{if eq .K8sClientKey ""}}
    K8sClientKeyFile: {{ .KeyFile }}
    K8sClientKey: {{ .K8sClientKeyFile | b64enc }}
      {{end}}
      {{if eq .K8sClientCertFile ""}}
    K8sClientCert: {{ .K8sClientCert | b64enc }}
      {{end}}
      {{if eq .K8sClientKeyFile ""}}
    K8sClientKey: {{ .K8sClientKey | b64enc }}
      {{ end }}
     {{end}}
    {{end}}
    {{if eq .K8sSetup "GoogleGKE"}}
    IsGKE: {{eq .K8sSetup "GoogleGKE"}}
    K8sToken: {{ .K8sToken}}
    {{end}}
    {{if eq .K8sSetup "AwsEKS" }}
    IsEKS: {{eq .K8sSetup "AwsEKS"}}
    EksClusterName: {{ .EksClusterName }}
    IsAwsCfgAvailable: {{ .IsAwsCfgAvailable }}
    UseAWSconfig: {{ .UseAWSconfig }}
    AWSAccessKey: {{ .AWSAccessKey }}
    AWSAccessSecret: {{ .AWSAccessSecret }}
    {{end}}
    Namespace: {{ .Namespace }}
    UseCustomRegistry: {{.UseCustomRegistry}}
    InstallXLD: {{ .InstallXLD }}
    InstallXLR: {{ .InstallXLR }}
    {{ if .UseCustomRegistry }}
    XlrVersion: {{ .XlrVersion }}
    XldVersion: {{ .XldVersion }}
    DockerUser: {{ .DockerUser }}
    DockerPass: {{ .DockerPass }}
    RegistryURL: {{ .RegistryURL }}
    {{ else }}
    XlVersion: {{ .XlVersion }}
    {{ end }}
    XlRAMRequest: {{ .XlRAMRequest }}
    XlCPURequest: {{ .XlCPURequest }}
    ExternalDatabase: {{ .ExternalDatabase }}
    {{if .InstallXLD}}
    XldAdminPass: {{ .XldAdminPass }}
    XldLic: {{ .XldLic | b64enc }}
      {{if .ExternalDatabase}}
    XldDbUrl: {{ .XldDbUrl }}
      {{else}}
    XldDbName: {{ .XldDbName }}
      {{end}}
    XldDbUser: {{ .XldDbUser }}
    XldDbPass: {{ .XldDbPass }}
      {{if eq .K8sSetup "LocalK8S"}}
    XldWorkHostpath: {{ .XldWorkHostpath }}
      {{end}}
    {{end}}
    {{if eq .K8sSetup "AwsEKS" }}
    EfsId: {{ .EfsId }}
    EfsRegion: {{ .EfsRegion }}
    {{end}}
    {{if (or (eq .K8sSetup "GoogleGKE" ) (eq .K8sSetup "PlainK8SCluster"))}}
    NsfServerHost: {{ .NsfServerHost }}
    NsfSharePath: {{ .NsfSharePath }}
    {{end}}
    {{if .InstallXLR}}
    XlrAdminPass: {{ .XlrAdminPass }}
    XlrLic: {{ .XlrLic | b64enc }}
      {{if .ExternalDatabase}}
    XlrDbUrl: {{ .XlrDbUrl }}
    XlrReportDbUrl: {{ .XlrReportDbUrl }}
      {{else}}
    XlrDbName: {{ .XlrDbName }}
    XlrReportDbName: {{ .XlrReportDbName }}
      {{end}}
    XlrDbUser: {{ .XlrDbUser }}
    XlrDbPass: {{ .XlrDbPass }}
    XlrReportDbUser: {{ .XlrReportDbUser }}
    XlrReportDbPass: {{ .XlrReportDbPass }}
    {{end}}
    XlKeyStore: {{ .XlKeyStore | b64enc }}
    XlKeyStorePass: {{ .XlKeyStorePass }}
    InstallMonitoring: {{ .InstallMonitoring }}
    {{if .InstallMonitoring}}
    MonitoringDataRetention: {{ .MonitoringDataRetention }}
    MonitoringUser: {{ .MonitoringUser }}
    MonitoringUserPass: {{ .MonitoringUserPass }}
    {{end}}
    {{if not .ExternalDatabase}}
      {{if eq .K8sSetup "LocalK8S"}}
    PostgresqlWorkHostpath: {{ .PostgresqlWorkHostpath }}
      {{end}}
    PostgresMaxConn: {{ .PostgresMaxConn }}
    PostgresSharedBuff: {{ .PostgresSharedBuff }}
    PostgresEffectCacheSize: {{ .PostgresEffectCacheSize }}
    PostgresSyncCommit: {{ .PostgresSyncCommit }}
    PostgresMaxWallSize: {{ .PostgresMaxWallSize }}
    {{end}}