{{if eq .K8sSetup "Local K8s from Docker Desktop for Mac/Windows"}}
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
  - directory: Infrastructure/XL-PLATFORM
    children:
      - name: K8s-MASTER-LOCAL
        type: k8s.Master
        apiServerURL: !value localApiServerURL
        skipTLS: true
        {{if .useKubeconfig }}
        tlsCert: !value K8sClientCert
        tlsPrivateKey: !value K8sClientKey
        {{else}}
        tlsCert: !value K8sClientCertFile
        tlsPrivateKey: !value K8sClientKeyFile
        {{end}}
{{else if eq .K8sSetup "AWS EKS"}}
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
  - directory: Infrastructure/XL-PLATFORM
    children:
      - name: EKS-MASTER
        type: k8s.Master
        apiServerURL: !value apiServerURL
        skipTLS: true
        isEKS: true
        clusterName: !value eksClusterName
        accessKey: !value AWSAccessKey
        accessSecret: !value AWSAccessSecret
{{else}}
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
  - directory: Infrastructure/XL-PLATFORM
    children:
      - name: K8s-MASTER
        type: k8s.Master
        apiServerURL: !value apiServerURL
        skipTLS: true
        {{if .K8sToken}}
        token: !value K8sToken
        {{else}}
          {{if .useKubeconfig }}
        tlsCert: !value K8sClientCert
        tlsPrivateKey: !value K8sClientKey
          {{else}}
        tlsCert: !value K8sClientCertFile
        tlsPrivateKey: !value K8sClientKeyFile
          {{end}}
        {{end}}
{{end}}