{{- if not .UseCustomNamespace }}
apiVersion: xl-deploy/v1
kind: Deployment
spec:
  package: Applications/XEBIALABS/XL-K8S-FOUNDATION/K8s-NameSpace/1.0
  environment: Environments/XEBIALABS/K8S
---
{{- end }}
apiVersion: xl-deploy/v1
kind: Deployment
spec:
  package: Applications/XEBIALABS/XL-K8S-FOUNDATION/Answers-Configmap-Deployment/{{.AnswersConfigmapHash}}
  environment: Environments/XEBIALABS/K8S
  orchestrators:
    - sequential-by-dependency
{{- if .InstallXLD }}
---
apiVersion: xl-deploy/v1
kind: Deployment
spec:
  {{- if .UseCustomRegistry}}
  package: Applications/XEBIALABS/XL-DEPLOY/XL-Deploy-Deployment/{{.XldTag}}-{{.XLDVersionHash}}
  {{- else}}
  package: Applications/XEBIALABS/XL-DEPLOY/XL-Deploy-Deployment/{{.XldOfficialVersion}}-{{.XLDVersionHash}}
  {{- end}}
  environment: Environments/XEBIALABS/K8S
  orchestrators:
    - sequential-by-dependency
{{- end }}
{{- if .InstallXLR }}
---
apiVersion: xl-deploy/v1
kind: Deployment
spec:
  {{- if .UseCustomRegistry}}
  package: Applications/XEBIALABS/XL-RELEASE/XL-Release-Deployment/{{.XlrTag}}-{{.XLRVersionHash}}
  {{- else}}
  package: Applications/XEBIALABS/XL-RELEASE/XL-Release-Deployment/{{.XlrOfficialVersion}}-{{.XLRVersionHash}}
  {{- end}}
  environment: Environments/XEBIALABS/K8S
  orchestrators:
    - sequential-by-dependency
{{- end }}