apiVersion: xl-deploy/v1
kind: Applications
spec:
  - directory: Applications/XEBIALABS
    children:
      - directory: XL-DEPLOY
        children:
          - name: XL-Deploy-Deployment
            type: udm.Application
            children:
              {{- if  .UseCustomRegistry }}
              - name: "{{.XldTag}}"
              {{- else }}
              - name: "{{.XldOfficialVersion}}"
              {{- end }}
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                {{- if or (eq .K8sSetup "DockerDesktopK8s") (eq .K8sSetup "MinikubeK8s")}}
                  - name: xld-deployment
                    type: k8s.ResourcesFile
                    readinessProbeRetry: {{ .XldDeploymentTimeout }}
                    file: !file kubernetes/xl-deploy/local-db/xld-deployment-single-node.yaml
                  {{- else }}
                  - name: xld-deployment-master
                    type: k8s.ResourcesFile
                    readinessProbeRetry: {{ .XldDeploymentTimeout }}
                    file: !file kubernetes/xl-deploy/external-db/active-active/xld-deployment-master.yaml
                  - name: xld-deployment-worker
                    type: k8s.ResourcesFile
                    readinessProbeRetry: {{ .XldDeploymentTimeout }}
                    file: !file kubernetes/xl-deploy/external-db/active-active/xld-deployment-worker.yaml
                  {{- end}}
                applicationDependencies: null
                undeployDependencies: "true"
