{{- if  eq .K8sSetup "AwsEKS" }}
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
  - directory: Infrastructure/XEBIALABS
    children:
      - name: EKS-MASTER
        type: k8s.Master
        apiServerURL: !value K8sApiServerURL
        skipTLS: true
        isEKS: true
        clusterName: !value EksClusterName
        accessKey: !value AWSAccessKey
        accessSecret: !value AWSAccessSecret
        {{- if .UseCustomNamespace }}
        children:
        - name: {{.Namespace }}
          type: k8s.Namespace
          namespaceName: {{.Namespace}}
        {{- end }}
{{- else if  eq .K8sSetup "DockerDesktopK8s" }}
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
  - directory: Infrastructure/XEBIALABS
    children:
      - name: K8s-MASTER-LOCAL
        type: k8s.Master
        apiServerURL: !value K8sLocalApiServerURL
        skipTLS: true
        {{- if .UseKubeconfig }}
        tlsCert: !value K8sClientCert
        tlsPrivateKey: !value K8sClientKey
        {{- else }}
        tlsCert: !value K8sClientCertFile
        tlsPrivateKey: !value K8sClientKeyFile
        {{- end }}
        {{- if .UseCustomNamespace }}
        children:
        - name: {{.Namespace }}
          type: k8s.Namespace
          namespaceName: {{.Namespace}}
        {{- end }}
{{- else }}
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
  - directory: Infrastructure/XEBIALABS
    children:
      - name: K8s-MASTER
        type: k8s.Master
        apiServerURL: !value K8sApiServerURL
        skipTLS: true
        {{- if .K8sToken}}
        token: !value K8sToken
        {{- else }}
          {{- if eq .K8sClientCertFile "" }}
        tlsCert: !value K8sClientCert
        tlsPrivateKey: !value K8sClientKey
          {{- else }}
        tlsCert: !value K8sClientCertFile
        tlsPrivateKey: !value K8sClientKeyFile
          {{- end }}
        {{- end }}
        {{- if .UseCustomNamespace }}
        children:
        - name: {{.Namespace }}
          type: k8s.Namespace
          namespaceName: {{.Namespace}}
          {{- end }}
{{- end }}
---
apiVersion: xl-deploy/v1
kind: Environments
spec:
  - directory: Environments/XEBIALABS
    children:
      - name: DICTIONARY
        type: udm.Dictionary
        entries:
        {{- if .UseCustomRegistry}}
          XLR_VERSION: "{{.XlrTag}}"
          XLD_VERSION: "{{.XldTag}}"
        {{- else }}
          XLD_OFFICIAL_VERSION: "{{.XldOfficialVersion}}"
          XLR_OFFICIAL_VERSION: "{{.XlrOfficialVersion}}"
        {{- end }}
        {{- if  .InstallXLR }}
          {{- if not .ExternalDatabase }}
          XLR_REPORT_DB_NAME: !value XlrReportDbName
          XLR_DB_NAME: !value XlrDbName
          {{- end }}
          XLR_REPORT_DB_USER: !value XlrReportDbUser
          XLR_DB_USER: !value XlrDbUser
          XLR_KEYSTORE_PASS: !value XlKeyStorePass
          XLR_KEYSTORE: {{ .XlKeyStore | b64enc }}
          XLR_LIC: {{ .XlrLic | b64enc }}
          XLR_REPORT_DB_PASS: !value XlrReportDbPass
          XLR_DB_PASS: !value XlrDbPass
          XLR_ADMIN_PASS: !value XlrAdminPass
        {{- end }}
        {{- if  .InstallXLD }}
          XLD_KEYSTORE: {{ .XlKeyStore | b64enc }}
          XLD_KEYSTORE_PASS: !value XlKeyStorePass
          XLD_LIC: {{ .XldLic | b64enc }}
          XLD_DB_PASS: !value XldDbPass
          XLD_ADMIN_PASS: !value XldAdminPass
          {{- if not .ExternalDatabase }}
          XLD_DB_NAME: !value XldDbName
          {{- end }}
          XLD_DB_USER: !value XldDbUser
        {{- end }}
        {{- if and (eq .K8sSetup "AwsEKS") (not .UseExistingStorageClasses)}}
          EFS_ID: !value EfsId
          EFS_REGION: !value EfsRegion
        {{- else if and (or (eq .K8sSetup "PlainK8SCluster") (eq .K8sSetup "GoogleGKE") (eq .K8sSetup "Openshift")) (not .UseExistingStorageClasses)}}
          NFS_PROVISIONER_NAME: "xebialabs-nfs-storage-provisioner"
          NFS_SERVER: !value NfsServerHost
          NFS_PATH: !value NfsSharePath
        {{- end }}
        {{- if not .ExternalDatabase}}
          POSTGRES_MAX_CONN: !value PostgresMaxConn
          POSTGRES_SHARED_BUFF: !value PostgresSharedBuff
          POSTGRES_SYNC_COMMIT: !value PostgresSyncCommit
          POSTGRES_EFFECT_CACHE_SIZE: !value PostgresEffectCacheSize
          POSTGRES_MAX_WALL_SIZE: !value PostgresMaxWallSize
        {{- end }}
      - name: K8S
        type: udm.Environment
        members:
          {{- if  eq .K8sSetup "AwsEKS" }}
          - Infrastructure/XEBIALABS/EKS-MASTER
          {{- if .UseCustomNamespace }}
          - Infrastructure/XEBIALABS/EKS-MASTER/{{.Namespace}}
          {{- end }}
          {{- else if  eq .K8sSetup "DockerDesktopK8s" }}
          - Infrastructure/XEBIALABS/K8s-MASTER-LOCAL
          {{- if .UseCustomNamespace }}
          - Infrastructure/XEBIALABS/K8s-MASTER-LOCAL/{{.Namespace}}
          {{- end }}
          {{- else }}
          - Infrastructure/XEBIALABS/K8s-MASTER
          {{- if .UseCustomNamespace }}
          - Infrastructure/XEBIALABS/K8s-MASTER/{{.Namespace}}
          {{- end }}
          {{- end }}         
        dictionaries:
          - Environments/XEBIALABS/DICTIONARY
---
apiVersion: xl-deploy/v1
kind: Applications
spec:
  - directory: Applications/XEBIALABS
    children:
      - directory: XL-K8S-FOUNDATION
        children:
        {{- if not .UseCustomNamespace }}
          - name: K8s-NameSpace
            type: udm.Application
            children:
              - name: "1.0"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                  - name: xebialabs
                    type: k8s.NamespaceSpec
                    namespaceName: {{ .Namespace }}
        {{- end }}
          - name: Answers-Configmap-Deployment
            type: udm.Application
            children:
              - name: {{.AnswersConfigmapHash}}
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                  - name: answers-configmap-deployment
                    readinessProbeRetry: 120
                    type: k8s.ResourcesFile
                    file: !file "answers.yaml"
                applicationDependencies:
                  K8s-Ingress-Controller: "v0.6"
               {{- if and (ne .K8sSetup "DockerDesktopK8s") (ne .K8sSetup "MinikubeK8s")}}
                  XL-PVC-Claims: "1.0.0"
               {{- end }}
                {{- if not .ExternalDatabase}}
                  PostgreSQL: "10.5"
                {{- else }}
                   {{- if and (ne .K8sSetup "DockerDesktopK8s") (ne .K8sSetup "MinikubeK8s") (not .UseExistingStorageClasses)}}
                    {{- if and (ne .K8sSetup "PlainK8SCluster") ( ne .K8sSetup "Openshift")}}
                  K8s-StorageClass: "1.0"
                    {{- end }}
                    {{- if (or (eq .K8sSetup "GoogleGKE") (eq .K8sSetup "PlainK8SCluster") (eq .K8sSetup "Openshift"))}}
                  K8s-NFS-Client-Provisioner: "v3.1.0-k8s1.11"
                    {{- else if eq .K8sSetup "AwsEKS" }}
                  K8S-EFS-Provisioner: "v1.0.0-k8s1.10"
                    {{- end }}
                  {{- end }}
                {{- end }}
                {{- if .MonitoringInstall }}
                  Grafana-Dashboard: "5.4.4"
                  Kibana: "6.5.0"
                {{- end }}
                {{- if and (not .RabbitMQExternal) (ne .K8sSetup "DockerDesktopK8s") (ne .K8sSetup "MinikubeK8s") ( .InstallXLD)}}
                  RabbitMQ: "3.8.0-management"
                {{- end }}
                undeployDependencies: "true"
          - name: K8s-Ingress-Controller
            type: udm.Application
            children:
              - name: "v0.6"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                  {{- if .UseCustomRegistry}}
                  - name: dockercreds
                    type: k8s.ResourcesFile
                    readinessProbeRetry: 120
                    file: !file kubernetes/xl-k8s-foundation/dockercred.yaml
                  {{- end }}
                  - name: haproxy-ingress-controller
                    readinessProbeRetry: 120
                    type: k8s.ResourcesFile
                    file: !file kubernetes/xl-k8s-foundation/ha-proxy-ingress-controller/ingress-controller.yaml
                  {{- if or (eq .K8sSetup "AwsEKS") (eq .K8sSetup "GoogleGKE") (eq .K8sSetup "AzureAKS")}}
                  - name: service-l7
                    readinessProbeRetry: 120
                    type: k8s.ResourcesFile
                    file: !file kubernetes/xl-k8s-foundation/ha-proxy-ingress-controller/service-l7.yaml
                  {{- end }}
                  - name: default-backend
                    type: k8s.ResourcesFile
                    readinessProbeRetry: 120
                    file: !file kubernetes/xl-k8s-foundation/ha-proxy-ingress-controller/default-backend.yaml
                  - name: xebialabs-service-internal
                    type: k8s.ResourcesFile
                    readinessProbeRetry: 120
                    file: !file kubernetes/xl-k8s-foundation/xebialabs-service-internal.yaml
                applicationDependencies:
                  {{- if and (ne .K8sSetup "DockerDesktopK8s") (ne .K8sSetup "MinikubeK8s")}}
                    {{- if not .ExternalDatabase}}
                  PostgreSQL: "10.5"
                    {{- else }}
                      {{- if and (ne .K8sSetup "DockerDesktopK8s") (ne .K8sSetup "MinikubeK8s")}}
                        {{- if and  (ne .K8sSetup "PlainK8SCluster") (ne .K8sSetup "Openshift")}}
                  K8s-StorageClass: "1.0"
                        {{- end }}
                        {{- if or (eq .K8sSetup "GoogleGKE") (eq .K8sSetup "PlainK8SCluster") (eq .K8sSetup "Openshift")}}
                  K8s-NFS-Client-Provisioner: "v3.1.0-k8s1.11"
                        {{- else if eq .K8sSetup "AwsEKS" }}
                  K8S-EFS-Provisioner: "v1.0.0-k8s1.10"
                        {{- end }}
                      {{- end }}
                    {{- end }}
                  {{- end }}
                undeployDependencies: "true"
          {{- if and (or (eq .K8sSetup "AwsEKS") (eq .K8sSetup "GoogleGKE") (eq .K8sSetup "AzureAKS")) (not .UseExistingStorageClasses)}}
          - name: K8s-StorageClass
            type: udm.Application
            children:
              - name: "1.0"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                  {{- if and (eq .K8sSetup "AwsEKS") (not .UseExistingStorageClasses) }}
                  - name: gp2
                    type: k8s.ResourcesFile
                    readinessProbeRetry: 120
                    file: !file kubernetes/xl-k8s-foundation/aws-gp2-storageclass.yaml
                  - name: aws-efs-storageclass
                    type: k8s.ResourcesFile
                    readinessProbeRetry: 120
                    file: !file kubernetes/xl-k8s-foundation/aws-efs/aws-efs-storageclass.yaml
                  {{- else if and (eq .K8sSetup "GoogleGKE") (not .UseExistingStorageClasses) }}
                  - name: pd-retain
                    type: k8s.ResourcesFile
                    readinessProbeRetry: 120
                    file: !file kubernetes/xl-k8s-foundation/gcp-pd-retain-storageclass.yaml
                  {{- else if and (eq .K8sSetup "AzureAKS") (not .UseExistingStorageClasses) }}
                  - name: azuredisk-retain
                    type: k8s.ResourcesFile
                    readinessProbeRetry: 120
                    file: !file kubernetes/xl-k8s-foundation/azuredisk-retain-storage.yaml
                  - name: azurefile
                    type: k8s.ResourcesFile
                    readinessProbeRetry: 120
                    file: !file kubernetes/xl-k8s-foundation/azurefile-storageclass.yaml
                  {{- end }}
          {{- end }}
          {{- if and (eq .K8sSetup "AwsEKS") (not .UseExistingStorageClasses)  }}
          - name: K8S-EFS-Provisioner
            type: udm.Application
            children:
              - name: "v1.0.0-k8s1.10"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                  - name: aws-efs-conf
                    type: k8s.ResourcesFile
                    readinessProbeRetry: 120
                    file: !file kubernetes/xl-k8s-foundation/aws-efs/aws-efs-conf.yaml
                  - name: aws-efs-deployment
                    type: k8s.ResourcesFile
                    readinessProbeRetry: 120
                    file: !file kubernetes/xl-k8s-foundation/aws-efs/aws-efs-deployment.yaml
                  - name: aws-efs-rbac
                    type: k8s.ResourcesFile
                    readinessProbeRetry: 120
                    file: !file kubernetes/xl-k8s-foundation/aws-efs/aws-efs-rbac.yaml
          {{- end }}
          {{- if and (ne .K8sSetup "DockerDesktopK8s") (ne .K8sSetup "MinikubeK8s")}}
          - name: XL-PVC-Claims
            type: udm.Application
            children:
              - name: "1.0.0"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                  {{- if .InstallXLD }}
                  - name: pvc-xld-export
                    type: k8s.ResourcesFile
                    readinessProbeRetry: 120
                    file: !file "kubernetes/xl-k8s-foundation/xl-pvc/pvc-xld-export.yaml"
                  {{- end }}
                  {{- if .InstallXLR }}
                  - name: pvc-xlr-reports
                    type: k8s.ResourcesFile
                    readinessProbeRetry: 120
                    file: !file "kubernetes/xl-k8s-foundation/xl-pvc/pvc-xlr-reports.yaml"
                  {{- end }}
                applicationDependencies:
                undeployDependencies: "true"
          {{- end }}
          {{- if not .ExternalDatabase }}
          - name: PostgreSQL
            type: udm.Application
            children:
              - name: "10.5"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                  - name: sa-scc
                    type: k8s.ResourcesFile
                    file: !file kubernetes/xl-k8s-foundation/postgresql/sa-scc.yaml
                  - name: xl-PostgreSQL
                    type: k8s.ResourcesFile
                    readinessProbeRetry: 120
                    file: !file kubernetes/xl-k8s-foundation/postgresql/xl-postgresql.yaml
                applicationDependencies:
                  {{- if and (ne .K8sSetup "DockerDesktopK8s") (ne .K8sSetup "MinikubeK8s") (ne .K8sSetup "Openshift") }}
                    {{- if and (ne .K8sSetup "PlainK8SCluster") (not .UseExistingStorageClasses)}}
                  K8s-StorageClass: "1.0"
                    {{- end }}
                    {{- if and (or (eq .K8sSetup "GoogleGKE") (eq .K8sSetup "PlainK8SCluster") (eq .K8sSetup "Openshift")) (not .UseExistingStorageClasses)}}
                  K8s-NFS-Client-Provisioner: "v3.1.0-k8s1.11"
                    {{- else if and (eq .K8sSetup "AwsEKS") (not .UseExistingStorageClasses) }}
                  K8S-EFS-Provisioner: "v1.0.0-k8s1.10"
                    {{- end }}
                  XL-PVC-Claims: "1.0.0"
                  {{- end }}
                undeployDependencies: "true"
          {{- end }}
          {{- if and (or (eq .K8sSetup "PlainK8SCluster") (eq .K8sSetup "GoogleGKE") (eq .K8sSetup "Openshift")) (not .UseExistingStorageClasses)}}
          - name: K8s-NFS-Client-Provisioner
            type: udm.Application
            children:
              - name: "v3.1.0-k8s1.11"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                  - name: rbac
                    type: k8s.ResourcesFile
                    readinessProbeRetry: 120
                    file: !file kubernetes/xl-k8s-foundation/nfs-client-provisioner/rbac.yaml
                  - name: deployment
                    type: k8s.ResourcesFile
                    readinessProbeRetry: 120
                    file: !file kubernetes/xl-k8s-foundation/nfs-client-provisioner/deployment.yaml
                  - name: storageclass
                    type: k8s.ResourcesFile
                    readinessProbeRetry: 120
                    file: !file kubernetes/xl-k8s-foundation/nfs-client-provisioner/storageclass.yaml
          {{- end }}
          {{- if and (not .RabbitMQExternal) (ne .K8sSetup "DockerDesktopK8s") (ne .K8sSetup "MinikubeK8s") ( .InstallXLD)}}
          - name: RabbitMQ
            type: udm.Application
            children:
              - name: "3.8.0-management"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                  - name: RabbitMQ-rbac
                    type: k8s.ResourcesFile
                    file: !file kubernetes/xl-k8s-foundation/rabbitmq/rbac.yaml
                  - name: RabbitMQ-configmap
                    type: k8s.ResourcesFile
                    file: !file kubernetes/xl-k8s-foundation/rabbitmq/configmap.yaml
                  - name: RabbitMQ-statefulset
                    type: k8s.ResourcesFile
                    readinessProbeRetry: 120
                    file: !file kubernetes/xl-k8s-foundation/rabbitmq/xl-rabbitmq.yaml
                  - name: RabbitMQ-ingress
                    type: k8s.ResourcesFile
                    file: !file kubernetes/xl-k8s-foundation/rabbitmq/ingress.yaml
          {{- end }}
          {{- if .MonitoringInstall }}
          - directory: Applications/XEBIALABS/XL-K8S-FOUNDATION/MONITORING
            children:
            - name: Elasticsearch-Logging
              type: udm.Application
              children:
              - name: v6.5.0
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                 - name: Elasticsearch-rbac
                   type: k8s.ResourcesFile
                   readinessProbeRetry: 120
                   file: !file "kubernetes/efk-stack/elasticsearch/rbac.yaml"
                 - name: Elasticsearch-logging
                   type: k8s.ResourcesFile
                   readinessProbeRetry: 120
                   file: !file "kubernetes/efk-stack/elasticsearch/deployment.yaml"
                 - name: Elasticsearch-curator-cronjob
                   type: k8s.ResourcesFile
                   readinessProbeRetry: 120
                   file: !file "kubernetes/efk-stack/es-curator/cronjob.yaml"
                 - name: Elasticsearch-curator-configmap
                   type: k8s.ResourcesFile
                   readinessProbeRetry: 120
                   file: !file "kubernetes/efk-stack/es-curator/configmap.yaml"
                applicationDependencies:
                  K8s-Ingress-Controller: "v0.6"
                undeployDependencies: "true"
            - name: Fluentd
              type: udm.Application
              children:
              - name: "v0.12"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                - name: Fluentd-rbac
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/efk-stack/fluentd/rbac.yaml"
                - name: Fluentd-configmap
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/efk-stack/fluentd/configmap.yaml"
                - name: Fluentd-daemonset
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/efk-stack/fluentd/daemonset.yaml"
                applicationDependencies:
                  Elasticsearch-Logging: "v6.5.0"
                undeployDependencies: "true"
            - name: Kibana
              type: udm.Application
              children:
              - name: "6.5.0"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                - name: Kibana-deployment
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/efk-stack/kibana/deployment.yaml"
                - name: Kibana-ingress
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/efk-stack/kibana/ingress.yaml"
                - name: Kibana-dashboard-job
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/efk-stack/kibana/dashboard-job.yaml"
                applicationDependencies:
                  Fluentd: "v0.12"
                undeployDependencies: "true"
            - name: Kube-State-Metrics
              type: udm.Application
              children:
              - name: "v1.5.0"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                - name: kube-state-metrics-serviceaccount
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/pg-stack/kube-state-metrics/kube-state-metrics-service-account.yaml"
                - name: kube-state-metrics-clusterrolebinding
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/pg-stack/kube-state-metrics/kube-state-metrics-cluster-role-binding.yaml"
                - name: kube-state-metrics-service
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/pg-stack/kube-state-metrics/kube-state-metrics-service.yaml"
                - name: kube-state-metrics-role
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/pg-stack/kube-state-metrics/kube-state-metrics-role.yaml"
                - name: kube-state-metrics-rolebinding
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/pg-stack/kube-state-metrics/kube-state-metrics-role-binding.yaml"
                - name: kube-state-metrics-clusterrole
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/pg-stack/kube-state-metrics/kube-state-metrics-cluster-role.yaml"
                - name: kube-state-metrics-deployment
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/pg-stack/kube-state-metrics/kube-state-metrics-deployment.yaml"
                applicationDependencies:
                  K8s-Ingress-Controller: "v0.6"
                undeployDependencies: "true"
            - name: Prometheus
              type: udm.Application
              children:
              - name: "v2.7.2"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                - name: Prometheus-rbac
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/pg-stack/prometheus/rbac.yaml"
                - name: Prometheus-configmap
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/pg-stack/prometheus/configmap.yaml"
                - name: Prometheus-deployment
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/pg-stack/prometheus/deployment.yaml"
                applicationDependencies:
                  Kube-State-Metrics: "v1.5.0"
                undeployDependencies: "true"
            - name: Grafana-Dashboard
              type: udm.Application
              children:
              - name: "5.4.4"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                - name: Grafana-configmap
                  type: k8s.ResourcesFile
                  delimiters: '## ##'
                  readinessProbeRetry: 120
                  file: !file "kubernetes/pg-stack/grafana/configmap.yaml"
                - name: Grafana-secret
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/pg-stack/grafana/secret.yaml"
                - name: Grafana-pvc
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/pg-stack/grafana/pvc.yaml"
                - name: Grafana-deployment
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/pg-stack/grafana/deployment.yaml"
                - name: Grafana-ingress
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/pg-stack/grafana/ingress.yaml"
                - name: Grafana-importer
                  type: k8s.ResourcesFile
                  readinessProbeRetry: 120
                  file: !file "kubernetes/pg-stack/grafana/importer-job.yaml"
                applicationDependencies:
                  Prometheus: "v2.7.2"
                undeployDependencies: "true"
          {{- end }}
