{{if  eq .K8sSetup "AWS EKS" }}
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
  - directory: Infrastructure/XEBIALABS
    children:
      - name: EKS-MASTER
        type: k8s.Master
        apiServerURL: !value apiServerURL
        skipTLS: true
        isEKS: true
        clusterName: !value eksClusterName
        accessKey: !value AWSAccessKey
        accessSecret: !value AWSAccessSecret
{{end}}
{{if  eq .K8sSetup "Local K8s from Docker Desktop for Mac/Windows" }}
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
  - directory: Infrastructure/XEBIALABS
    children:
      - name: K8s-MASTER-LOCAL
        type: k8s.Master
        apiServerURL: !value localApiServerURL
        skipTLS: true
        {{if .useKubeconfig }}
        tlsCert: !value K8sClientCert
        tlsPrivateKey: !value K8sClientKey
        {{else}}
        tlsCert: !value K8sClientCertFile
        tlsPrivateKey: !value K8sClientKeyFile
        {{end}}
{{end}}
{{if  eq .K8sSetup "Plain multinode K8s cluster" }}
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
  - directory: Infrastructure/XEBIALABS
    children:
      - name: K8s-MASTER
        type: k8s.Master
        apiServerURL: !value apiServerURL
        skipTLS: true
        {{if .useKubeconfig }}
        tlsCert: !value K8sClientCert
        tlsPrivateKey: !value K8sClientKey
        {{else}}
        tlsCert: !value K8sClientCertFile
        tlsPrivateKey: !value K8sClientKeyFile
        {{end}}
{{end}}
---
apiVersion: xl-deploy/v1
kind: Environments
spec:
  - directory: Environments/XEBIALABS
    children:
      - name: DICTIONARY
        type: udm.Dictionary
        entries:
          XL_VERSION: "{{.xlVersion}}"
          DOCKER_REPO: !value dockerRepo
        {{if  eq .K8sSetup "Local K8s from Docker Desktop for Mac/Windows" }}
          POSTGRESQL_HOSTPATH: !value PostgresqlWorkHostpath
        {{end}}
        {{if  .InstallXLR }}
          XLR_REPORT_DB_NAME: !value xlrReportDbName
          XLR_DB_NAME: !value xlrDbName
          XLR_REPORT_DB_USER: !value xlrReportDbUser
          XLR_DB_USER: !value xlrDbUser
          XLR_KEYSTORE_PASS: !value xlKeyStorePass
          XLR_KEYSTORE: {{ .xlKeyStore | b64enc }}
          XLR_LIC: {{ .xlrLic | b64enc }}
          XLR_REPORT_DB_PASS: !value xlrReportDbPass
          XLR_DB_PASS: !value xlrDbPass
          XLR_ADMIN_PASS: !value xlrAdminPass
        {{end}}
        {{if  .InstallXLD }}
          XLD_KEYSTORE: {{ .xlKeyStore | b64enc }}
          XLD_KEYSTORE_PASS: !value xlKeyStorePass
          XLD_LIC: {{ .xldLic | b64enc }}
          XLD_DB_PASS: !value xldDbPass
          XLD_ADMIN_PASS: !value xldAdminPass
          {{if  eq .K8sSetup "Local K8s from Docker Desktop for Mac/Windows" }}
          XLD_WORK_HOSTPATH: !value xldWorkHostpath
          {{end}}
          XLD_DB_NAME: !value xldDbName
          XLD_DB_USER: !value xldDbUser
          {{if  eq .K8sSetup "AWS EKS" }}
          EFS_ID: !value efsId
          EFS_REGION: !value efsRegion
          {{end}}
        {{end}}
        {{if  eq .K8sSetup "Plain multinode K8s cluster" }}
          NFS_PROVISIONER_NAME: "xebialabs-nfs-storage-provisioner"
          NFS_SERVER: !value nsfServerHost
          NFS_PATH: !value nsfSharePath
        {{end}}
          POSTGRES_MAX_CONN: !value postgresMaxConn
          POSTGRES_SHARED_BUFF: !value postgresSharedBuff
          POSTGRES_SYNC_COMMIT: !value postgresSyncCommit
          POSTGRES_EFFECT_CACHE_SIZE: !value postgresEffectCacheSize
          POSTGRES_MAX_WALL_SIZE: !value postgresMaxWallSize
      - name: K8S
        type: udm.Environment
        members:
          {{if  eq .K8sSetup "AWS EKS" }}
          - Infrastructure/XEBIALABS/EKS-MASTER
          {{end}}
          {{if  eq .K8sSetup "Plain multinode K8s cluster" }}
          - Infrastructure/XEBIALABS/K8s-MASTER
          {{end}}
          {{if  eq .K8sSetup "Local K8s from Docker Desktop for Mac/Windows" }}
          - Infrastructure/XEBIALABS/K8s-MASTER-LOCAL
          {{end}}
        dictionaries:
          - Environments/XEBIALABS/DICTIONARY
---
apiVersion: xl-deploy/v1
kind: Applications
spec:
  - directory: Applications/XEBIALABS
    children:
      - directory: XL-K8S-FOUNDATION
        children:
          - name: Answers-Configmap-Deployment
            type: udm.Application
            children:
              - name: {{.xlVersion}}
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                  - name: answers-configmap-deployment
                    type: k8s.ResourcesFile
                    file: !file "answers.yaml"
                applicationDependencies:
                  {{if .InstallXLR}}
                  {{if  eq .K8sSetup "Local K8s from Docker Desktop for Mac/Windows" }}
                  XL-Release-Single-Node: !value xlVersion
                  {{else}}
                  XL-Release-Active-Active: !value xlVersion
                  {{end}}
                  {{end}}
                  {{if .InstallXLD}}
                  {{if  eq .K8sSetup "Local K8s from Docker Desktop for Mac/Windows" }}
                  XL-Deploy-Single-Node: !value xlVersion
                  {{else}}
                  XL-Deploy-Hot-Standby: !value xlVersion
                  {{end}}
                  {{end}}
                undeployDependencies: "true"
          - name: K8s-NameSpace
            type: udm.Application
            children:
              - name: "{{.xlVersion}}"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                  - name: xebialabs
                    type: k8s.NamespaceSpec
                    namespaceName: {{ .Namespace }}
          - name: K8s-Ingress-Controller
            type: udm.Application
            children:
              - name: "{{.xlVersion}}"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                  - name: haproxy-ingress-controller
                    type: k8s.ResourcesFile
                    file: !file kubernetes/xl-k8s-foundation/ha-proxy-ingress-controller/ingress-controller.yaml
                  {{if  eq .K8sSetup "AWS EKS" }}
                  - name: service-l7
                    type: k8s.ResourcesFile
                    file: !file kubernetes/xl-k8s-foundation/ha-proxy-ingress-controller/service-l7.yaml
                  {{end}}
                  - name: default-backend
                    type: k8s.ResourcesFile
                    file: !file kubernetes/xl-k8s-foundation/ha-proxy-ingress-controller/default-backend.yaml
                  - name: xebialabs-service-internal
                    type: k8s.ResourcesFile
                    file: !file kubernetes/xl-k8s-foundation/xebialabs-service-internal.yaml
                applicationDependencies:
                  {{if not ( eq .K8sSetup "Local K8s from Docker Desktop for Mac/Windows" )}}
                  PostgreSQL: "{{.xlVersion}}"
                  {{end}}
                undeployDependencies: "true"
          {{if  eq .K8sSetup "AWS EKS" }}
          - name: K8s-StorageClass
            type: udm.Application
            children:
              - name: "{{.xlVersion}}"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                  - name: gp2
                    type: k8s.ResourcesFile
                    file: !file kubernetes/xl-k8s-foundation/aws-gp2-storageclass.yaml
          {{end}}

          - name: PostgreSQL
            type: udm.Application
            children:
              - name: "{{.xlVersion}}"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                  - name: xl-PostgreSQL
                    type: k8s.ResourcesFile
                    file: !file kubernetes/xl-k8s-foundation/postgresql/xl-postgresql.yaml
                applicationDependencies:
                  {{if (or ( eq .K8sSetup "AWS EKS" ) ( eq .K8sSetup "Plain multinode K8s cluster" ))}}
                    {{if  eq .K8sSetup "AWS EKS" }}
                  K8s-StorageClass: "{{.xlVersion}}"
                    {{else}}
                  K8s-NFS-Client-Provisioner: "{{.xlVersion}}"
                    {{end}}
                  {{end}}
                undeployDependencies: "true"

          {{if  eq .K8sSetup "Plain multinode K8s cluster" }}
          - name: K8s-NFS-Client-Provisioner
            type: udm.Application
            children:
              - name: "{{.xlVersion}}"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                  - name: rbac
                    type: k8s.ResourcesFile
                    file: !file kubernetes/xl-k8s-foundation/nfs-client-provisioner/rbac.yaml
                  - name: deployment
                    type: k8s.ResourcesFile
                    file: !file kubernetes/xl-k8s-foundation/nfs-client-provisioner/deployment.yaml
                  - name: storageclass
                    type: k8s.ResourcesFile
                    file: !file kubernetes/xl-k8s-foundation/nfs-client-provisioner/storageclass.yaml
          {{end}}
          {{if  .InstallMonitoring }}
          - directory: Applications/XEBIALABS/XL-K8S-FOUNDATION/MONITORING
            children:
            - name: Elasticsearch-Logging
              type: udm.Application
              children:
              - name: "{{.xlVersion}}"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                 - name: Elasticsearch-rbac
                   type: k8s.ResourcesFile
                   file: !file "kubernetes/efk-stack/elasticsearch/rbac.yaml"
                 - name: Elasticsearch-logging
                   type: k8s.ResourcesFile
                   file: !file "kubernetes/efk-stack/elasticsearch/deployment.yaml"
                 - name: Elasticsearch-curator-cronjob
                   type: k8s.ResourcesFile
                   file: !file "kubernetes/efk-stack/es-curator/cronjob.yaml"
                 - name: Elasticsearch-curator-configmap
                   type: k8s.ResourcesFile
                   file: !file "kubernetes/efk-stack/es-curator/configmap.yaml"
                applicationDependencies:
                  K8s-Ingress-Controller: "{{.xlVersion}}"
                undeployDependencies: "true"
            - name: Fluentd
              type: udm.Application
              children:
              - name: "{{.xlVersion}}"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                - name: Fluentd-rbac
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/efk-stack/fluentd/rbac.yaml"
                - name: Fluentd-configmap
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/efk-stack/fluentd/configmap.yaml"
                - name: Fluentd-daemonset
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/efk-stack/fluentd/daemonset.yaml"
                applicationDependencies:
                  Elasticsearch-Logging: "{{.xlVersion}}"
                undeployDependencies: "true"
            - name: Kibana
              type: udm.Application
              children:
              - name: "{{.xlVersion}}"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                - name: Kibana-deployment
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/efk-stack/kibana/deployment.yaml"
                - name: Kibana-ingress
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/efk-stack/kibana/ingress.yaml"
                - name: Kibana-dashboard-job
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/efk-stack/kibana/dashboard-job.yaml"
                applicationDependencies:
                  Fluentd: "{{.xlVersion}}"
                undeployDependencies: "true"
            - name: Kube-State-Metrics
              type: udm.Application
              children:
              - name: "{{.xlVersion}}"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                - name: kube-state-metrics-serviceaccount
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/pg-stack/kube-state-metrics/kube-state-metrics-service-account.yaml"
                - name: kube-state-metrics-clusterrolebinding
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/pg-stack/kube-state-metrics/kube-state-metrics-cluster-role-binding.yaml"
                - name: kube-state-metrics-service
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/pg-stack/kube-state-metrics/kube-state-metrics-service.yaml"
                - name: kube-state-metrics-role
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/pg-stack/kube-state-metrics/kube-state-metrics-role.yaml"
                - name: kube-state-metrics-rolebinding
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/pg-stack/kube-state-metrics/kube-state-metrics-role-binding.yaml"
                - name: kube-state-metrics-clusterrole
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/pg-stack/kube-state-metrics/kube-state-metrics-cluster-role.yaml"
                - name: kube-state-metrics-deployment
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/pg-stack/kube-state-metrics/kube-state-metrics-deployment.yaml"
                applicationDependencies:
                  K8s-Ingress-Controller: "{{.xlVersion}}"
                undeployDependencies: "true"
            - name: Prometheus
              type: udm.Application
              children:
              - name: "{{.xlVersion}}"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                - name: Prometheus-rbac
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/pg-stack/prometheus/rbac.yaml"
                - name: Prometheus-configmap
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/pg-stack/prometheus/configmap.yaml"
                - name: Prometheus-deployment
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/pg-stack/prometheus/deployment.yaml"
                applicationDependencies:
                  Kube-State-Metrics: "{{.xlVersion}}"
                undeployDependencies: "true"
            - name: Grafana-Dashboard
              type: udm.Application
              children:
              - name: "{{.xlVersion}}"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                - name: Grafana-configmap
                  type: k8s.ResourcesFile
                  delimiters: '## ##'
                  file: !file "kubernetes/pg-stack/grafana/configmap.yaml"
                - name: Grafana-secret
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/pg-stack/grafana/secret.yaml"
                - name: Grafana-pvc
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/pg-stack/grafana/pvc.yaml"
                - name: Grafana-deployment
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/pg-stack/grafana/deployment.yaml"
                - name: Grafana-ingress
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/pg-stack/grafana/ingress.yaml"
                - name: Grafana-importer
                  type: k8s.ResourcesFile
                  file: !file "kubernetes/pg-stack/grafana/importer-job.yaml"
                applicationDependencies:
                  Prometheus: "{{.xlVersion}}"
                undeployDependencies: "true"
          {{end}}
