apiVersion: xl-deploy/v1
kind: Applications
spec:
- directory: Applications/XEBIALABS
  children:
  - directory: XL-RELEASE
    children:
      - name: XL-Release-Deployment
        type: udm.Application
        children:
        {{- if  .UseCustomRegistry }}
        - name: "{{.XlrTag}}-{{.XLRVersionHash}}"
        {{- else }}
        - name: "{{.XlrOfficialVersion}}-{{.XLRVersionHash}}"
        {{- end}}
          orchestrator:
            - sequential-by-dependency
          type: udm.DeploymentPackage
          deployables:
          - name: xlr-deployment
            type: k8s.ResourcesFile
            readinessProbeRetry:  {{ .XlrDeploymentTimeout }}
{{- if or (eq .K8sSetup "DockerDesktopK8s") (eq .K8sSetup "MinikubeK8s")}}
            file: !file kubernetes/xl-release/local-db/xlr-deployment-single-node.yaml
{{- else}}
            file: !file kubernetes/xl-release/external-db/active-active/xlr-deployment-active.yaml
{{- end}}
          applicationDependencies: null
          undeployDependencies: "false"