apiVersion: xl-deploy/v1
kind: Applications
spec:
- directory: Applications/XEBIALABS
  children:
  - directory: XL-RELEASE
    children:
{{if (or ( eq .K8sSetup "AWS EKS" ) ( eq .K8sSetup "Plain multinode K8s cluster" ))}}
      - name: XL-Release-Deployment
        type: udm.Application
        children:
        {{if  .useCustomRegistry }}
        - name: "{{.xlrTag}}"
        {{ else }}
        - name: "{{.xlVersion}}"
        {{ end }}
          orchestrator:
            - sequential-by-dependency
          type: udm.DeploymentPackage
          deployables:
          - name: xlr-deployment
            type: k8s.ResourcesFile
            file: !file kubernetes/xl-release/external-db/active-active/xlr-deployment-active.yaml
          applicationDependencies: null
          undeployDependencies: "false"
{{end}}
  {{if  eq .K8sSetup "Local K8s from Docker Desktop for Mac/Windows" }}
      - name: XL-Release-Deployment
        type: udm.Application
        children:
        {{if  .useCustomRegistry }}
        - name: "{{.xlrTag}}"
        {{ else }}
        - name: "{{.xlVersion}}"
        {{ end }}
          orchestrator:
            - sequential-by-dependency
          type: udm.DeploymentPackage
          deployables:
          - name: xlr-deployment
            type: k8s.ResourcesFile
            file: !file kubernetes/xl-release/local-db/xlr-deployment-single-node.yaml
          applicationDependencies: null
          undeployDependencies: "false"
  {{end}}