kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: xebialabs-aws-efs
  namespace: {{ .Namespace }}
  labels:
    organization: xebialabs
provisioner: xebialabs.com/aws-efs
reclaimPolicy: Retain