apiVersion: v1
kind: ServiceAccount
metadata:
  name: efs-provisioner
  namespace: {{ .Namespace }}
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: xebialabs-efs-provisioner
  labels:
    organization: xebialabs
rules:
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch", "create", "delete"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch", "update"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["storageclasses"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["create", "update", "patch", "list", "get"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: xebialabs-run-efs-provisioner
  labels:
    organization: xebialabs
subjects:
  - kind: ServiceAccount
    name: efs-provisioner
    namespace: {{ .Namespace }}
roleRef:
  kind: ClusterRole
  name: xebialabs-efs-provisioner
  apiGroup: rbac.authorization.k8s.io
