kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: xlr-reports-claim
  namespace: {{ .Namespace }}
  labels:
    app: xl-release
    organization: xebialabs
  annotations:
    {{if eq .K8sSetup "AwsEKS" }}
    volume.beta.kubernetes.io/storage-class: "xebialabs-aws-efs"
    {{else}}
    volume.beta.kubernetes.io/storage-class: "xebialabs-managed-nfs-storage"
    {{end}}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ .XlrReportsPvcSize }}