apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  namespace: {{ .Namespace }}
  name: gp2-retain
parameters:
  fsType: ext4
  type: gp2
provisioner: kubernetes.io/aws-ebs
reclaimPolicy: Retain
volumeBindingMode: Immediate
mountOptions:
  - debug