kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: gp2-retain
  namespace: {{ .Namespace }}
provisioner: kubernetes.io/aws-ebs
parameters:
  type: gp2-retain
reclaimPolicy: Retain
mountOptions:
  - debug