# In XLR use  http://xebialabs-internal:80/xl-deploy/ https://github.com/xebialabs/xlr-xld-plugin/blob/master/src/main/resources/xlrxldeploy/__init__.py#L113
kind: Service
apiVersion: v1
metadata:
  name: xebialabs-internal
  namespace: {{ .Namespace }}
  labels:
    {{ if not .UseExternalIngress }}
    app.kubernetes.io/name: haproxy-ingress
    app.kubernetes.io/part-of: haproxy-ingress
    {{end}}
    organization: xebialabs
spec:
  type: NodePort
  selector:
    {{ if not .UseExternalIngress }}
    app.kubernetes.io/name: haproxy-ingress
    app.kubernetes.io/part-of: haproxy-ingress
    {{end}}
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 80
      nodePort: 30080
    - name: https
      port: 443
      protocol: TCP
      targetPort: 443
      nodePort: 30443
    - name: stat
      port: 1936
      protocol: TCP
      targetPort: 1936
      nodePort: 31936
