K8sSetup: {{ .K8sSetup }}
useKubeconfig: {{ .useKubeconfig }}
apiServerURL: {{ .apiServerURL }}
OsType: {{ .OsType }}
{{if or (and (not .useKubeconfig) (ne .K8sSetup "AWS EKS")) (eq .K8sSetup "Google Kubernetes Engine")}}
K8sAuthentication: {{ .K8sAuthentication }}
{{end}}
{{if eq .K8sSetup "LocalK8S"}}
localApiServerURL: {{ .localApiServerURL }}
{{end}}
{{if eq .K8sToken ""}}
 {{if ne .K8sSetup "AwsEKS"}}
  {{if eq .K8sClientCert ""}}
K8sClientCertFile: {{ .CertFile }}
K8sClientCert: {{ .K8sClientCertFile | b64enc }}
  {{end}}
  {{if eq .K8sClientKey ""}}
K8sClientKeyFile: {{ .KeyFile }}
K8sClientKey: {{ .K8sClientKeyFile | b64enc }}
  {{end}}
  {{if eq .K8sClientCertFile ""}}
K8sClientCert: {{ .K8sClientCert | b64enc }}
  {{end}}
  {{if eq .K8sClientKeyFile ""}}
K8sClientKey: {{ .K8sClientKey | b64enc }}
  {{ end }}
 {{end}}
{{end}}
{{if eq .K8sSetup "GoogleGKE"}}
IsGKE: {{eq .K8sSetup "GoogleGKE"}}
K8sToken: {{ .K8sToken}}
{{end}}
{{if eq .K8sSetup "AwsEKS" }}
IsEKS: {{eq .K8sSetup "AwsEKS"}}
eksClusterName: {{ .eksClusterName }}
isAwsCfgAvailable: {{ .isAwsCfgAvailable }}
useAWSconfig: {{ .useAWSconfig }}
AWSAccessKey: {{ .AWSAccessKey }}
AWSAccessSecret: {{ .AWSAccessSecret }}
{{end}}
Namespace: {{ .Namespace }}
useCustomRegistry: {{.useCustomRegistry}}
InstallXLD: {{ .InstallXLD }}
InstallXLR: {{ .InstallXLR }}
{{ if .useCustomRegistry }}
xlrVersion: {{ .xlrVersion }}
xldVersion: {{ .xldVersion }}
dockerUser: {{ .dockerUser }}
dockerPass: {{ .dockerPass }}
registryURL: {{ .registryURL }}
{{ else }}
xlVersion: {{ .xlVersion }}
{{ end }}
XlRAMRequest: {{ .XlRAMRequest }}
XlCPURequest: {{ .XlCPURequest }}
dockerRepo: {{ .dockerRepo }}
externalDatabase: {{ .externalDatabase }}
{{if .InstallXLD}}
xldAdminPass: {{ .xldAdminPass }}
xldLic: {{ .xldLic | b64enc }}
  {{if .externalDatabase}}
xldDbUrl: {{ .xldDbUrl }}
  {{else}}
xldDbName: {{ .xldDbName }}
  {{end}}
xldDbUser: {{ .xldDbUser }}
xldDbPass: {{ .xldDbPass }}
  {{if eq .K8sSetup "Local K8s from Docker Desktop for Mac/Windows"}}
xldWorkHostpath: {{ .xldWorkHostpath }}
  {{end}}
{{end}}
{{if eq .K8sSetup "AWS EKS" }}
efsId: {{ .efsId }}
efsRegion: {{ .efsRegion }}
{{end}}
{{if (or (eq .K8sSetup "Google Kubernetes Engine" ) (eq .K8sSetup "Plain multinode K8s cluster"))}}
nsfServerHost: {{ .nsfServerHost }}
nsfSharePath: {{ .nsfSharePath }}
{{end}}
{{if .InstallXLR}}
xlrAdminPass: {{ .xlrAdminPass }}
xlrLic: {{ .xlrLic | b64enc }}
  {{if .externalDatabase}}
xlrDbUrl: {{ .xlrDbUrl }}
xlrReportDbUrl: {{ .xlrReportDbUrl }}
  {{else}}
xlrDbName: {{ .xlrDbName }}
xlrReportDbName: {{ .xlrReportDbName }}
  {{end}}
xlrDbUser: {{ .xlrDbUser }}
xlrDbPass: {{ .xlrDbPass }}
xlrReportDbUser: {{ .xlrReportDbUser }}
xlrReportDbPass: {{ .xlrReportDbPass }}
{{end}}
xlKeyStore: {{ .xlKeyStore | b64enc }}
xlKeyStorePass: {{ .xlKeyStorePass }}
InstallMonitoring: {{ .InstallMonitoring }}
{{if .InstallMonitoring}}
MonitoringDataRetention: {{ .MonitoringDataRetention }}
monitoringUser: {{ .monitoringUser }}
monitoringUserPass: {{ .monitoringUserPass }}
{{end}}
{{if not .externalDatabase}}
  {{if eq .K8sSetup "Local K8s from Docker Desktop for Mac/Windows"}}
PostgresqlWorkHostpath: {{ .PostgresqlWorkHostpath }}
  {{end}}
postgresMaxConn: {{ .postgresMaxConn }}
postgresSharedBuff: {{ .postgresSharedBuff }}
postgresEffectCacheSize: {{ .postgresEffectCacheSize }}
postgresSyncCommit: {{ .postgresSyncCommit }}
postgresMaxWallSize: {{ .postgresMaxWallSize }}
{{end}}