K8sSetup: {{.K8sSetup}}
UseKubeconfig: {{.UseKubeconfig}}
K8sApiServerURL: {{.K8sApiServerURL}}
{{- if or (and (not .UseKubeconfig) (ne .K8sSetup "AwsEKS")) (eq .K8sSetup "GoogleGKE")}}
K8sAuthentication: {{ .K8sAuthentication }}
{{- end}}
{{- if eq .K8sToken ""}}
  {{- if eq .K8sClientCert "" }}
K8sClientCertFile: {{ .CertFile }}
K8sClientKeyFile: {{ .KeyFile }}
  {{- else}}
K8sClientCert: {{ .K8sClientCert }}
K8sClientKey: {{ .K8sClientKey }}
  {{- end}}
{{- else}}
K8sToken: {{ .K8sToken}}
{{- end}}
{{- if eq .K8sSetup "GoogleGKE" }}
IsGKE: {{eq .K8sSetup "GoogleGKE"}}
UseInternalLoadBalancer: {{ .UseInternalLoadBalancer }}
{{- end }}
{{- if eq .K8sSetup "AwsEKS" }}
IsEKS: {{eq .K8sSetup "AwsEKS"}}
UseAWSconfig: {{ .UseAWSconfig }}
EksClusterName: {{ .EksClusterName }}
IsHybridCluster: {{ .IsHybridCluster }}
AWSAccessKey: {{ .AWSAccessKey }}
AWSAccessSecret: {{ .AWSAccessSecret }}
UseInternalLoadBalancer: {{ .UseInternalLoadBalancer }}
{{- end }}
UseCustomRegistry: {{.UseCustomRegistry}}
InstallXLD: {{ .InstallXLD }}
InstallXLR: {{ .InstallXLR }}
{{- if .UseCustomRegistry }}
XlrVersion: {{ .XlrVersion }}
XldVersion: {{ .XldVersion }}
DockerUser: {{ .DockerUser }}
DockerPass: {{ .DockerPass }}
RegistryURL: {{ .RegistryURL }}
{{- else }}
  {{- if .InstallXLD}}
XldOfficialVersion: {{ .XldOfficialVersion }}
  {{- end}}
  {{- if .InstallXLR}}
XlrOfficialVersion: {{ .XlrOfficialVersion }}
  {{- end}}
{{- end }}
ExternalDatabase: {{ .ExternalDatabase }}
{{- if .InstallXLD}}
  {{- if and (ne .K8sSetup "DockerDesktopK8s") (ne .K8sSetup "MinikubeK8s")}}
RabbitMQExternal: {{ .RabbitMQExternal }}
RabbitMQDriver: {{ .RabbitMQDriver }}
  {{- if .RabbitMQExternal }}
RabbitMQUrl: {{ .RabbitMQUrl }}
  {{- end }}
RabbitMQUsername: {{ .RabbitMQUsername }}
RabbitMQPassword: {{ .RabbitMQPassword }}
XldMasterCount: {{ .XldMasterCount }}
XldMasterRAMRequest: {{ .XldMasterRAMRequest }}
XldMasterRAMLimit: {{ .XldMasterRAMLimit }}
XldMasterCPURequest: {{ .XldMasterCPURequest }}
XldMasterCPULimit: {{ .XldMasterCPULimit }}
XldWorkerCount: {{ .XldWorkerCount }}
XldWorkerRAMRequest: {{ .XldWorkerRAMRequest }}
XldWorkerRAMLimit: {{ .XldWorkerRAMLimit }}
XldWorkerCPURequest: {{ .XldWorkerCPURequest }}
XldWorkerCPULimit: {{ .XldWorkerCPULimit }}
XldWorkPvcSize: {{ .XldWorkPvcSize }}
XldExportPvcSize: {{ .XldExportPvcSize }}
  {{- end }}
XldAdminPass: {{ .XldAdminPass }}
XldLic: {{ .XldLic | b64enc }}
  {{- if .ExternalDatabase}}
XldDbUrl: {{ .XldDbUrl }}
  {{- else}}
XldDbName: {{ .XldDbName }}
  {{- end}}
XldDbUser: {{ .XldDbUser }}
XldDbPass: {{ .XldDbPass }}
{{- end}}
{{- if eq .K8sSetup "AwsEKS" }}
EfsId: {{ .EfsId }}
EfsRegion: {{ .EfsRegion }}
{{- end}}
{{- if (or (eq .K8sSetup "GoogleGKE" ) (eq .K8sSetup "PlainK8SCluster"))}}
NfsServerHost: {{ .NfsServerHost }}
NfsSharePath: {{ .NfsSharePath }}
{{- end}}
{{- if .InstallXLR}}
{{- if and (ne .K8sSetup "DockerDesktopK8s") (ne .K8sSetup "MinikubeK8s")}}
XlrRAMRequest: {{ .XlrRAMRequest }}
XlrRAMLimit: {{ .XlrRAMLimit }}
XlrCPURequest: {{ .XlrCPURequest }}
XlrCPULimit: {{ .XlrCPULimit }}
XlrReportsPvcSize: {{ .XlrReportsPvcSize }}
{{- end }}
XlrAdminPass: {{ .XlrAdminPass }}
XlrLic: {{ .XlrLic | b64enc }}
  {{- if .ExternalDatabase}}
XlrDbUrl: {{ .XlrDbUrl }}
XlrReportDbUrl: {{ .XlrReportDbUrl }}
  {{- else}}
XlrDbName: {{ .XlrDbName }}
XlrReportDbName: {{ .XlrReportDbName }}
  {{- end}}
XlrDbUser: {{ .XlrDbUser }}
XlrDbPass: {{ .XlrDbPass }}
XlrReportDbUser: {{ .XlrReportDbUser }}
XlrReportDbPass: {{ .XlrReportDbPass }}
{{- end}}
XlKeyStore: {{ .XlKeyStore | b64enc }}
XlKeyStorePass: {{ .XlKeyStorePass }}
MonitoringInstall: {{ .MonitoringInstall }}
{{- if .MonitoringInstall}}
MonitoringGrafanaDashboardsPvcSize: {{ .MonitoringGrafanaDashboardsPvcSize }}
MonitoringPrometheusDataPvcSize: {{ .MonitoringPrometheusDataPvcSize }}
MonitoringElasticsearchDataPvcSize: {{ .MonitoringElasticsearchDataPvcSize }}
MonitoringDataRetention: {{ .MonitoringDataRetention }}
MonitoringUser: {{ .MonitoringUser }}
MonitoringUserPass: {{ .MonitoringUserPass }}
{{- end}}
{{- if not .ExternalDatabase}}
PostgresqlDataPvcSize: {{ .PostgresqlDataPvcSize }}
PostgresMaxConn: {{ .PostgresMaxConn }}
PostgresSharedBuff: {{ .PostgresSharedBuff }}
PostgresEffectCacheSize: {{ .PostgresEffectCacheSize }}
PostgresSyncCommit: {{ .PostgresSyncCommit }}
PostgresMaxWallSize: {{ .PostgresMaxWallSize }}
{{- end}}