apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-pvc
  namespace: {{ .Namespace }}
  labels:
    app: grafana
spec:
  accessModes:
    - ReadWriteOnce
  {{if eq .K8sSetup "AWS EKS" }}
  storageClassName: gp2-retain
  {{else if eq .K8sSetup "Plain multinode K8s cluster" }}
  storageClassName: managed-nfs-storage
  {{end}}
  resources:
    requests:
      storage: 5Gi