apiVersion: v1
kind: Secret
data:
  admin-password: {{ .MonitoringUserPass | b64enc }}
  admin-username: {{ .MonitoringUser | b64enc }}
metadata:
  name: grafana
  namespace: {{ .Namespace }}
  labels:
    organization: xebialabs
type: Opaque