apiVersion: v1
kind: Secret
data:
  {{if not .UseExternalIngress}}
  admin-password: {{ .MonitoringUserPass | b64enc }}
  admin-username: {{ .MonitoringUser | b64enc }}
  {{else}}
  admin-password: {{ .GrafanaUserPass | b64enc }}
  admin-username: {{ .GrafanaUser | b64enc }}
  {{end}}
metadata:
  name: grafana
  namespace: {{ .Namespace }}
  labels:
    organization: xebialabs
type: Opaque