{{$NFS_PROVISIONER_NAME := "{{NFS_PROVISIONER_NAME}}"}}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: xebialabs-managed-nfs-storage
  labels:
    organization: xebialabs
provisioner: {{$NFS_PROVISIONER_NAME}} # or choose another name, must match deployment's env PROVISIONER_NAME'
allowVolumeExpansion: true # Allow volume to be expanded dynamically
reclaimPolicy: Retain
parameters:
  archiveOnDelete: "true" # When set to "false" your PVs will not be archived
                           # by the provisioner upon deletion of the PVC.