apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: curator
  namespace: {{ .Namespace }}
  labels:
    app: curator
spec:
  schedule: "0 1 * * *"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  startingDeadlineSeconds: 120
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: curator
              image: xebialabsunsupported/xl-es-curator
              volumeMounts:
                - name: config
                  mountPath: /etc/config
          volumes:
            - name: config
              configMap:
                name: curator-config
          restartPolicy: OnFailure
