apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: curator
  namespace: {{ .Namespace }}
  labels:
    app: curator
    organization: xebialabs
spec:
  schedule: "0 1 * * *"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  startingDeadlineSeconds: 120
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: curator
              image: xebialabsunsupported/xl-es-curator
              volumeMounts:
                - name: config
                  mountPath: /etc/config
          {{- if .IsHybridCluster}}
          nodeSelector:
            {{- if eq .K8sSetup "AwsEKS"}}
            beta.kubernetes.io/os: linux
            {{- else if eq .K8sSetup "GoogleGKE"}}
            kubernetes.io/os: linux
            {{- else if eq .K8sSetup "AzureAKS"}}
            kubernetes.io/os: linux
            {{- end}}
          {{- end}}
          volumes:
            - name: config
              configMap:
                name: curator-config
          restartPolicy: OnFailure
