apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: elasticsearch-logging
  namespace: {{ .Namespace }}
  labels:
    app: elasticsearch-logging
    version: v6.5.0
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
    organization: xebialabs
spec:
  serviceName: elasticsearch-logging
  replicas: 1
  selector:
    matchLabels:
      app: elasticsearch-logging
      version: v6.5.0
  template:
    metadata:
      labels:
        app: elasticsearch-logging
        version: v6.5.0
        kubernetes.io/cluster-service: "true"
        app: elasticsearch-logging
    spec:
      serviceAccountName: elasticsearch-logging
      initContainers:
      - name: elasticsearch-logging-init
        {{if .UseCustomRegistryForAllImages }}
        image: {{.RegistryURL}}/tiny-tools
        {{else}}
        image: xebialabs/tiny-tools
        {{end}}
        command: ["/sbin/sysctl", "-w", "vm.max_map_count=262144"]
        securityContext:
          privileged: true
      - name: fix-the-volume-permission
        {{if .UseCustomRegistryForAllImages }}
        image: {{.RegistryURL}}/tiny-tools
        {{else}}
        image: xebialabs/tiny-tools
        {{end}}
        imagePullPolicy: Always
        command:
          - sh
          - -c
          - chown -R 1000 /usr/share/elasticsearch/data
        securityContext:
          privileged: true
        volumeMounts:
          - name: data
            mountPath: /usr/share/elasticsearch/data
      containers:
      - name: elasticsearch-logging
        {{if .UseCustomRegistryForAllImages }}
        image: {{.RegistryURL}}/elasticsearch-oss:6.5.0
        {{else}}
        image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.5.0
        {{end}}
        resources:
          limits:
            cpu: 1.5
          requests:
            cpu: 0.5
            memory: 2.5Gi
        ports:
        - containerPort: 9200
          name: db
          protocol: TCP
        - containerPort: 9300
          name: transport
          protocol: TCP
        volumeMounts:
        - name: data
          mountPath: /usr/share/elasticsearch/data
        env:
        - name: MINIMUM_MASTER_NODES
          value: "1"
        - name: ES_JAVA_OPTS
          value: "-Xms2g -Xmx2g"
        - name: "NAMESPACE"
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
      {{if .UseCustomRegistryForAllImages }}
      imagePullSecrets:
      - name: dockercred
      {{ end }}
      {{- if .IsHybridCluster}}
      nodeSelector:
        {{- if eq .K8sSetup "AwsEKS"}}
        beta.kubernetes.io/os: linux
        {{- else if eq .K8sSetup "GoogleGKE"}}
        kubernetes.io/os: linux
        {{- else if eq .K8sSetup "AzureAKS"}}
        kubernetes.io/os: linux
        {{- end}}
      {{- end}}
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        {{if eq .K8sSetup "AwsEKS" }}
        storageClassName: xebialabs-gp2-retain
        {{else if eq .K8sSetup "GoogleGKE"}}
        storageClassName: xebialabs-standard-retain
        {{else if eq .K8sSetup "PlainK8SCluster" }}
        storageClassName: xebialabs-managed-nfs-storage
        {{else if eq .K8sSetup "AzureAKS" }}
        storageClassName: xebialabs-default-retain
        {{end}}
        resources:
          requests:
            storage: {{ .MonitoringElasticsearchDataPvcSize }}
---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-logging
  namespace: {{ .Namespace }}
  labels:
    app: elasticsearch-logging
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
    kubernetes.io/name: "Elasticsearch"
    organization: xebialabs
spec:
  ports:
  - port: 9200
    protocol: TCP
    targetPort: db
  selector:
    app: elasticsearch-logging
