{{$XLD_ADMIN_PASS := "{{XLD_ADMIN_PASS}}"}}
{{$XLD_DB_NAME := "{{XLD_DB_NAME}}"}}
{{$XLD_DB_USER := "{{XLD_DB_USER}}"}}
{{$XLD_DB_PASS := "{{XLD_DB_PASS}}"}}
{{$XLD_LIC := "{{XLD_LIC}}"}}
{{$XLD_KEYSTORE_PASS := "{{XLD_KEYSTORE_PASS}}"}}
{{$XLD_KEYSTORE := "{{XLD_KEYSTORE}}"}}
{{$XLD_WORK_HOSTPATH := "{{XLD_WORK_HOSTPATH}}"}}
{{$XLD_OFFICIAL_VERSION := "{{XLD_OFFICIAL_VERSION}}"}}

{{- if not .ExternalDatabase}}
kind: ConfigMap
apiVersion: v1
metadata:
  name: postgresql-init-sql-xld
  namespace: {{ .Namespace }}
  labels:
    organization: xebialabs
data:
  init-sql.sh: |-
    #!/bin/sh
    set -e

    if psql -v ON_ERROR_STOP=1 -h "$POSTGRES_HOST"  --username "$POSTGRES_USER" -lqt | cut -d \| -f 1 | grep -qw {{$XLD_DB_NAME}}; then
       echo "database {{$XLD_DB_NAME}} exists"
    else
        psql -v ON_ERROR_STOP=1 -h "$POSTGRES_HOST" --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "{{$XLD_DB_USER}}" WITH ENCRYPTED PASSWORD '{{$XLD_DB_PASS}}';
            CREATE DATABASE "{{$XLD_DB_NAME}}";
            GRANT ALL PRIVILEGES ON DATABASE "{{$XLD_DB_NAME}}" TO "{{$XLD_DB_USER}}";
    EOSQL
       echo "database {{$XLD_DB_NAME}} created"
    fi
---
{{- end }}
apiVersion: v1
kind: Service
metadata:
  name: xl-deploy
  namespace: {{ .Namespace }}
  labels:
    app: xl-deploy
    organization: xebialabs
spec:
  selector:
    app: xl-deploy
  type: ClusterIP
  ports:
    - name: http
      port: 4516
      targetPort: 4516
      protocol: TCP
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: xl-deploy
  namespace: {{ .Namespace }}
  labels:
    app: xl-deploy
    organization: xebialabs
  annotations:
    kubernetes.io/ingress.class: haproxy
    ingress.kubernetes.io/rewrite-target: /
    ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
    - http:
        paths:
          - path: /xl-deploy/
            backend:
              serviceName: xl-deploy
              servicePort: 4516
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: xl-deploy
  namespace: {{ .Namespace }}
  labels:
    organization: xebialabs
spec:
  replicas: 1
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: xl-deploy
  serviceName: xl-deploy
  template:
    metadata:
      labels:
        app: xl-deploy
        organization: xebialabs
    spec:
      initContainers:
        - name: fix-the-volume-permission
          image: busybox
          command:
            - sh
            - -c
            - chown -R 10001 /opt/xebialabs/xl-deploy-server/work
          securityContext:
            privileged: true
          volumeMounts:
            - name: work
              mountPath: /opt/xebialabs/xl-deploy-server/work
        {{if not .ExternalDatabase}}
        - name: wait-for-postgresql
          image: alpine:3.6
          command:
            - sh
            - -c
            - >
              until nc -z -w 2 $POSTGRES_SVC $POSTGRES_PORT && echo database ok; do
              sleep 2;
              done;
          env:
            - name: POSTGRES_SVC
              value: postgresql
            - name: POSTGRES_PORT
              value: "5432"
        - name: create-db
          image: xebialabs/tiny-tools
          imagePullPolicy: Always
          command:
            - '/bin/sh'
            - '/tmp/init-sql.sh'
          securityContext:
            privileged: true
          env:
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_DB
              value: postgres
            - name: POSTGRES_HOST
              value: postgresql
          volumeMounts:
            - name: postgresql-init-sql-xld
              subPath: init-sql.sh
              mountPath: /tmp/init-sql.sh
          {{end}}
      containers:
        - name: xl-deploy
          {{if .UseCustomRegistry }}                    
          image: {{.RegistryURL}}/{{.XldVersion}}
          {{ else }}
          image: xebialabs/xl-deploy:{{$XLD_OFFICIAL_VERSION}}
          {{ end }}
          imagePullPolicy: Always
          env:
            - name: ADMIN_PASSWORD
              value: {{$XLD_ADMIN_PASS}}
            - name: XL_CLUSTER_MODE
              value: default
            - name: XL_DB_URL
              {{if .ExternalDatabase}}
              value: {{.XldDbUrl}}
              {{else}}
              value: jdbc:postgresql://postgresql:5432/{{$XLD_DB_NAME}}
              {{end}}
            - name: XL_DB_USERNAME
              value: {{$XLD_DB_USER}}
            - name: XL_DB_PASSWORD
              value: "{{$XLD_DB_PASS}}"
            - name: XL_METRICS_ENABLED
              value: "false"
            - name: XL_LICENSE
              value: {{$XLD_LIC}}
            - name: REPOSITORY_KEYSTORE_PASSPHRASE
              value: {{$XLD_KEYSTORE_PASS}}
            - name: REPOSITORY_KEYSTORE
              value: {{$XLD_KEYSTORE}}
            - name: FORCE_UPGRADE
              value: "true"
          resources:
            requests:
              memory: 2Gi
              cpu: "1"
            limits:
              memory: "3Gi"
              cpu: "1.5"
          ports:
            - name: http
              containerPort: 4516
          readinessProbe:
            httpGet:
              path: /deployit/ha/health
              port: http
            initialDelaySeconds: 20
            periodSeconds: 15
            failureThreshold: 6
          volumeMounts:
            - name: work
              mountPath: /opt/xebialabs/xl-deploy-server/work
      {{- if .IsHybridCluster}}
      nodeSelector:
        {{- if eq .K8sSetup "AwsEKS"}}
        beta.kubernetes.io/os: linux
        {{- else if eq .K8sSetup "GoogleGKE"}}
        kubernetes.io/os: linux
        {{- else if eq .K8sSetup "AzureAKS"}}
        kubernetes.io/os: linux
        {{- end}}
      {{- end}}
      {{if .UseCustomRegistry }}
      imagePullSecrets:
      - name: dockercred
      {{ end }}
      {{- if or (eq .K8sSetup "DockerDesktopK8s") (eq .K8sSetup "MinikubeK8s")}}
      volumes:
        - name: work
          emptyDir: {}
        {{- if not .ExternalDatabase}}
        - name: postgresql-init-sql-xld
          configMap:
            name: postgresql-init-sql-xld
            defaultMode: 0777
        {{- end }}
      {{end}}
  {{if (or (eq .K8sSetup "AwsEKS" ) (eq .K8sSetup "PlainK8SCluster" ))}}
  volumeClaimTemplates:
    - metadata:
        name: repository
      spec:
        accessModes: [ "ReadWriteOnce" ]
        {{if eq .K8sSetup "AwsEKS" }}
        storageClassName: xebialabs-gp2-retain
        {{end}}
        {{if eq .K8sSetup "PlainK8SCluster" }}
        storageClassName: xebialabs-managed-nfs-storage
        {{end}}
        resources:
          requests:
            storage: 5Gi
    - metadata:
        name: work
      spec:
        accessModes:
          - ReadWriteOnce
        {{ if .UseExistingStorageClasses }}
        storageClassName: {{.StorageClassName}}
        {{else if eq .K8sSetup "AwsEKS" }}
        storageClassName: xebialabs-gp2-retain
        {{else if eq .K8sSetup "PlainK8SCluster" }}
        storageClassName: xebialabs-managed-nfs-storage
        {{end}}
        resources:
          requests:
            storage: 2Gi
  {{end}}
